issue: 不能更换模型

### Check Existing Issues

- [x] I have searched for any existing and/or related issues.
- [x] I have searched for any existing and/or related discussions.
- [x] I have also searched in the CLOSED issues AND CLOSED discussions and found no related items (your issue might already be addressed on the development branch!).
- [x] I am using the latest version of Open WebUI.

### Installation Method

Docker

### Open WebUI Version

0.8.11

### Ollama Version (if applicable)

_No response_

### Operating System

Anolis os

### Browser (if applicable)

edge

### Confirmation

- [x] I have read and followed all instructions in `README.md`.
- [x] I am using the latest version of **both** Open WebUI and Ollama.
- [x] I have included the browser console logs.
- [x] I have included the Docker container logs.
- [x] I have **provided every relevant configuration, setting, and environment variable used in my setup.**
- [x] I have clearly **listed every relevant configuration, custom setting, environment variable, and command-line option that influences my setup** (such as Docker Compose overrides, .env values, browser settings, authentication configurations, etc).
- [x] I have documented **step-by-step reproduction instructions that are precise, sequential, and leave nothing to interpretation**. My steps:
- Start with the initial platform/version/OS and dependencies used,
- Specify exact install/launch/configure commands,
- List URLs visited, user input (incl. example values/emails/passwords if needed),
- Describe all options and toggles enabled or changed,
- Include any files or environmental changes,
- Identify the expected and actual result at each stage,
- Ensure any reasonably skilled user can follow and hit the same issue.


### Expected Behavior

(base) [root@gpu1 open-webui]# docker compose logs -f -n 30 open-webui 
WARN[0000] /docker/open-webui/docker-compose.yml: `version` is obsolete 
open-webui  | 2026-03-26 09:43:14.956 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53499 - "GET /_app/immutable/assets/47.Gsrgvs3s.css HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:14.958 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/version HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:15.004 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53497 - "GET /assets/fonts/Inter-Variable.ttf HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:15.027 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /assets/fonts/Archivo-Variable.ttf HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:15.148 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /assets/fonts/Vazirmatn-Variable.ttf HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:16.926 | INFO     | open_webui.models.auths:authenticate_user:123 - authenticate_user: 17660634225@163.com
open-webui  | /usr/local/lib/python3.11/site-packages/jwt/api_jwt.py:153: InsecureKeyLengthWarning: The HMAC key is 9 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
open-webui  |   return self._jws.encode(
open-webui  | 2026-03-26 09:43:17.295 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "POST /api/v1/auths/signin HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.327 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53497 - "GET /api/config HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.332 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/v1/users/user/settings HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.355 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "POST /api/v1/auths/update/timezone HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.384 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/v1/configs/banners HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.410 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53497 - "GET /api/v1/tools/ HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.412 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53498 - "GET /api/v1/users/user/settings HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.413 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/v1/users/50c99750-3857-4971-a7c8-92c9a1f1e9c5/profile/image HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.439 | INFO     | open_webui.routers.openai:get_all_models:479 - get_all_models()
open-webui  | 2026-03-26 09:43:17.439 | INFO     | open_webui.routers.ollama:get_all_models:311 - get_all_models()
open-webui  | 2026-03-26 09:43:17.441 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53498 - "GET /api/v1/terminals/ HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.496 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/models HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.614 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53497 - "GET /api/v1/configs/banners HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.630 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53498 - "GET /api/v1/models/model/profile/image?id=undefined&lang=zh-CN HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.634 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53499 - "GET /api/v1/tools/ HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.645 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53500 - "GET /api/v1/functions/ HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.654 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53496 - "GET /api/v1/models/model/profile/image?id=gemma3:27b&lang=zh-CN HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:17.661 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53499 - "GET /api/v1/functions/ HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:18.189 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53499 - "GET /api/models HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:18.293 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /api/version/updates HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:18.593 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /ollama/api/version HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:20.386 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53501 - "GET /ollama/api/version HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:44.799 | INFO     | open_webui.routers.openai:get_all_models:479 - get_all_models()
open-webui  | 2026-03-26 09:43:44.799 | INFO     | open_webui.routers.ollama:get_all_models:311 - get_all_models()
open-webui  | 2026-03-26 09:43:44.850 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53557 - "GET /api/models HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:46.496 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53557 - "GET /ollama/api/version HTTP/1.1" 200
open-webui  | 2026-03-26 09:43:47.410 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 192.168.30.139:53557 - "GET /ollama/api/version HTTP/1.1" 200

<img width="1912" height="922" alt="Image" src="https://github.com/user-attachments/assets/576ee172-2cd9-4956-9366-f3fb93cb6ab2" />



### Actual Behavior

<img width="1912" height="922" alt="Image" src="https://github.com/user-attachments/assets/c52d98c4-15bd-4b5d-9023-9f6734b02e86" />



### Steps to Reproduce

点击模型不显示模型弹窗，没办法选择更换

### Logs & Screenshots

<img width="1912" height="922" alt="Image" src="https://github.com/user-attachments/assets/65c3119c-4ce5-4fb9-b6a6-e05abe0eed8c" />

<img width="1042" height="689" alt="Image" src="https://github.com/user-attachments/assets/474660f5-1f2a-4210-a978-92166763bea3" />

### Additional Information

_No response_